body { 
    background-color: rgb(231, 228, 228);
    margin: 20vh;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}
.iphones {
    width: 300px;
    height: 600px;
    border: 1px solid white;
    margin-right: 10px;
    border-radius: 15px;
} 
.loginContainer {
    background-color: white;
    border: 1px solid whitesmoke;
    width: 300px;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    margin-left: 10px;
  }
  .instagramLogo {
    margin-top: 40px;
    width: 200px;
  }
  .facebookButton {
    background-color: rgb(24, 145, 248);
    color: white;
    width: 220px;
    height: 25px;
    font-size: 15;
    font-weight: bold;
    border: 1px groove rgb(24, 145, 248);
    border-radius: 5px;;
  }
  .leftLine, .rightLine {
    width: 75px;
    height: 1px;
    background-color: rgb(202, 202, 202);
  }
  .orLine{
    display: flex;
    align-items: center;
  }
  .inputBox {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
  }
  .inputBox input{
    background-color: rgb(245, 238, 238);
    width: 200px;
    height: 25px;
  }
  .contact {
    border: 1px groove rgb(245, 238, 238);
    margin-bottom: 5px;
  }
  .fullName {
    border: 1px groove rgb(245, 238, 238);
    margin-bottom: 5px;
  }
  .userName {
    border: 1px groove rgb(245, 238, 238);
    margin-bottom: 5px;
  }
  .password {
    border: 1px groove rgb(245, 238, 238);
  }

  .signupButton {
    background-color: rgb(24, 145, 248);
    color: white;
    width: 220px;
    height: 25px;
    font-size: 15;
    font-weight: bold;
    border: 1px groove rgb(24, 145, 248);
    border-radius: 5px;
  
  }
  h4 {
    color: gray;
    border: 1px solid white;
    height: 50px;
    width: 85%;
    text-align: center;
  }
  